DJANGO_SECRET_KEY = 'django-insecure-%x=hg-xo!j9c4(0d3x!cxe(pi!3bihp2!(4!bezna@hru-u)*1'
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=*

DB_ENGINE=django.db.backends.postgresql
DB_NAME=team_task_tracker
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432